.game-board{
display: grid;
    grid-template-columns: repeat(10,40px);
    grid-template-rows:repeat(10,40px);

}
#app{
   display: flex;
    column-gap: 50px;
    justify-content:center;

}
.game-item{

    border:1px solid black;
}
.dd{
  margin-bottom: 10px;
    border:1px solid black;
    background: red;
    width: 38px;
    height: 38px;
}