.game-board{
display: grid;
    grid-template-columns: repeat(10,40px);
    grid-template-rows:repeat(10,40px);
border:1px solid black;
}

.game-item{

    border:1px solid black;
}
.dd{

    border:1px solid black;
    background: black;
    width: 36px;
    height: 36px;

}
.hitShip{
    background: black;
}
.main-div{
    display: flex;
    column-gap: 50px;
    justify-content:center;
margin-bottom: 100px;
}
.dd2{
    width: 72px;
    height: 36px;
    border:1px solid black;
    background: black;
}