.game-board{
display: grid;
    grid-template-columns: repeat(10,40px);
    grid-template-rows:repeat(10,40px);
border:1px solid black;
}

.game-item{

    border:1px solid black;
}
.ship{

    border:1px solid black;
    background: black;
    width: 36px;
    height: 36px;
margin-bottom: 20px;
}

.main-div{
    display: flex;
    column-gap: 50px;
    justify-content:center;
margin-bottom: 100px;
}
.ship[data-length="1"] {
    width: 36px;
    background-color: blue;
}
.ship[data-length="2"] {
    width: 72px;
    background-color: blue;
}
.ship[data-length="3"] {
    width: 108px;
    background-color: blue;
}
.ship[data-length="4"] {
    width: 144px;
    background-color: blue;
}
